@model IEnumerable<Models.ApplyingCommand>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplyingO_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyingC_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyingO_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyingC_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplyingYear }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApplyingYear }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplyingYear })
        </td>
    </tr>
}

</table>
